body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff3e0;
    color: #080808;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a.active {
    border-bottom: 2px solid #fff;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.time-date,
.menu,
.reservation {
    background-color: #fff;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

form {
    display: grid;
    gap: 1rem;
}

label {
    font-weight: bold;
}

input,
button {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #4e342e;
    border-radius: 4px;
}

button {
    background-color: #95c11e;
    color: #fff3e0;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5d4037;
}

footer {
    background-color: #333;
    color: #fff3e0;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

@media (max-width: 600px) {
    main {
        padding: 1rem;
    }
}