body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
}

header {
    background-color: #221f1ff6;
    color: white;
    text-align: center;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a.active {
    border-bottom: 2px solid #fff;
}

main,
#cart {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

h2 {
    text-align: center;
    color: #ffd700;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.menu-item {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.menu-item:hover {
    transform: translateY(-5px);
}

.menu-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.menu-item h3 {
    margin: 1rem;
    color: #4a4a4a;
}

.description {
    margin: 0 1rem 1rem;
    color: #666;
}

.price-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem 1rem;
}

.price {
    font-weight: bold;
    color: #4a4a4a;
}

.rating {
    color: #ffd700;
}

.add-to-cart {
    display: block;
    width: 100%;
    padding: 0.8rem;
    background-color: #4a4a4a;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #333;
}

#cart {
    background-color: white;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#cart-items {
    margin-bottom: 1rem;
}

#cart-total {
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 9rem;
}

#checkout {
    display: block;
    width: 100%;
    padding: .8rem;
    background-color: #4a4a4a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#checkout:hover {
    background-color: #333;
}

.hidden {
    display: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 9%;
}

@media (max-width: 768px) {
    .menu-container {
        grid-template-columns: 1fr;
    }
}